
frigora-sb/assets/img/imgbak/arrangements-bg.jpg
frigora-sb/assets/img/imgbak/arrangements-bg2.jpg
frigora-sb/assets/img/imgbak/contacts-bg - home.jpg
frigora-sb/assets/img/imgbak/contacts-bg-2.jpg
frigora-sb/assets/img/imgbak/contacts-bg.jpg
frigora-sb/assets/img/imgbak/packages.jpg
frigora-sb/assets/img/imgbak/vocalists-bg.jpg
frigora-sb/assets/img/imgbak/vocalists-bg2.jpg
frigora-sb/assets/img/imgbak/vocalists-bg3.jpg
frigora-sb/assets/img/team/imgbak/ace.jpg
frigora-sb/assets/img/team/imgbak/bm.jpg
frigora-sb/assets/img/team/imgbak/burn.jpg
frigora-sb/assets/img/team/imgbak/christel.jpg
frigora-sb/assets/img/team/imgbak/dee ko key lala.jpg
frigora-sb/assets/img/team/imgbak/dita.jpg
frigora-sb/assets/img/team/imgbak/dom.jpg
frigora-sb/assets/img/team/imgbak/don.jpg
frigora-sb/assets/img/team/imgbak/esteffi.jpg
frigora-sb/assets/img/team/imgbak/header.jpg
frigora-sb/assets/img/team/imgbak/jerico.jpg
frigora-sb/assets/img/team/imgbak/jm.jpg
frigora-sb/assets/img/team/imgbak/julius.jpg
frigora-sb/assets/img/team/imgbak/kim.jpg
frigora-sb/assets/img/team/imgbak/maya.jpg
frigora-sb/assets/img/team/imgbak/migz.jpg
frigora-sb/assets/img/team/imgbak/nigel.jpg
frigora-sb/assets/img/team/imgbak/remuz.jpg
frigora-sb/assets/img/team/imgbak/sam.jpg
frigora-sb/assets/img/team/imgbak/selina.jpg
frigora-sb/assets/img/team/imgbak/vince.jpg
frigora-sb/assets/img/testimony/imgbak/1 Megan Young.jpg
frigora-sb/assets/img/testimony/imgbak/2 Mikael Daez.jpg
frigora-sb/assets/img/testimony/imgbak/3 Shawn _ Trisha.jpg
frigora-sb/assets/img/testimony/imgbak/4 Brian _ Gillian.jpg
frigora-sb/assets/img/testimony/imgbak/5 Ryan _ Giezelle.jpg
frigora-sb/assets/img/testimony/imgbak/6 Kenneth _ Des.jpg
frigora-sb/assets/img/testimony/imgbak/7 Gold _ Gwynne.jpg
frigora-sb/assets/img/vocalists/imgbak/burn.jpg
frigora-sb/assets/img/vocalists/imgbak/dita.jpg
frigora-sb/assets/img/vocalists/imgbak/esteffi.jpg
frigora-sb/assets/img/vocalists/imgbak/jm.jpg
frigora-sb/assets/img/vocalists/imgbak/maya.jpg
frigora-sb/assets/img/vocalists/imgbak/nigel.jpg
frigora-sb/assets/img/vocalists/imgbak/remuz.jpg
frigora-sb/assets/img/vocalists/imgbak/sam.jpg
frigora-sb/assets/img/vocalists/imgbak/vince.jpg
frigora-sb/pages/arrangements/indexbak.html
frigora-sb/pages/packages/indexbak.html
frigora-sb/pages/vocalists/indexbak.html
frigora-sb/assets/img - Copy/about/1.jpg
frigora-sb/assets/img - Copy/about/2.jpg
frigora-sb/assets/img - Copy/about/3.jpg
frigora-sb/assets/img - Copy/about/4.jpg
frigora-sb/assets/img - Copy/about/5.jpg
frigora-sb/assets/img - Copy/arrangements-bg.jpg
frigora-sb/assets/img - Copy/arrangements-bg2.jpg
frigora-sb/assets/img - Copy/close-icon.svg
frigora-sb/assets/img - Copy/contacts-bg - home.jpg
frigora-sb/assets/img - Copy/contacts-bg-2.jpg
frigora-sb/assets/img - Copy/contacts-bg.jpg
frigora-sb/assets/img - Copy/events-bg.jpg
frigora-sb/assets/img - Copy/events/birthdays/1.jpg
frigora-sb/assets/img - Copy/events/birthdays/10.jpg
frigora-sb/assets/img - Copy/events/birthdays/11.jpg
frigora-sb/assets/img - Copy/events/birthdays/2.jpg
frigora-sb/assets/img - Copy/events/birthdays/3.jpg
frigora-sb/assets/img - Copy/events/birthdays/4.jpg
frigora-sb/assets/img - Copy/events/birthdays/5.jpg
frigora-sb/assets/img - Copy/events/birthdays/6.jpg
frigora-sb/assets/img - Copy/events/birthdays/7.jpg
frigora-sb/assets/img - Copy/events/birthdays/8.jpg
frigora-sb/assets/img - Copy/events/birthdays/9.jpg
frigora-sb/assets/img - Copy/events/corporate-events/1.jpg
frigora-sb/assets/img - Copy/events/corporate-events/10.jpg
frigora-sb/assets/img - Copy/events/corporate-events/11.jpg
frigora-sb/assets/img - Copy/events/corporate-events/12.jpg
frigora-sb/assets/img - Copy/events/corporate-events/13.jpg
frigora-sb/assets/img - Copy/events/corporate-events/14.jpg
frigora-sb/assets/img - Copy/events/corporate-events/15.jpg
frigora-sb/assets/img - Copy/events/corporate-events/16.jpg
frigora-sb/assets/img - Copy/events/corporate-events/17 MUNA.jpg
frigora-sb/assets/img - Copy/events/corporate-events/17.jpg
frigora-sb/assets/img - Copy/events/corporate-events/18.jpg
frigora-sb/assets/img - Copy/events/corporate-events/2.jpg
frigora-sb/assets/img - Copy/events/corporate-events/3.jpg
frigora-sb/assets/img - Copy/events/corporate-events/4.jpg
frigora-sb/assets/img - Copy/events/corporate-events/5.jpg
frigora-sb/assets/img - Copy/events/corporate-events/6.jpg
frigora-sb/assets/img - Copy/events/corporate-events/7.jpg
frigora-sb/assets/img - Copy/events/corporate-events/8.jpg
frigora-sb/assets/img - Copy/events/corporate-events/9.jpg
frigora-sb/assets/img - Copy/events/fairs/1.jpg
frigora-sb/assets/img - Copy/events/fairs/2.jpg
frigora-sb/assets/img - Copy/events/fairs/3.jpg
frigora-sb/assets/img - Copy/events/fairs/4.jpg
frigora-sb/assets/img - Copy/events/fairs/5.jpg
frigora-sb/assets/img - Copy/events/fairs/6.jpg
frigora-sb/assets/img - Copy/events/weddings/1.jpg
frigora-sb/assets/img - Copy/events/weddings/10.jpg
frigora-sb/assets/img - Copy/events/weddings/11.jpg
frigora-sb/assets/img - Copy/events/weddings/12.jpg
frigora-sb/assets/img - Copy/events/weddings/13.jpg
frigora-sb/assets/img - Copy/events/weddings/14.jpg
frigora-sb/assets/img - Copy/events/weddings/15.jpg
frigora-sb/assets/img - Copy/events/weddings/16.jpg
frigora-sb/assets/img - Copy/events/weddings/17.jpg
frigora-sb/assets/img - Copy/events/weddings/18.jpg
frigora-sb/assets/img - Copy/events/weddings/19.jpg
frigora-sb/assets/img - Copy/events/weddings/2.jpg
frigora-sb/assets/img - Copy/events/weddings/20.jpg
frigora-sb/assets/img - Copy/events/weddings/3.jpg
frigora-sb/assets/img - Copy/events/weddings/4.jpg
frigora-sb/assets/img - Copy/events/weddings/5 MUNA.jpg
frigora-sb/assets/img - Copy/events/weddings/5.jpg
frigora-sb/assets/img - Copy/events/weddings/6.jpg
frigora-sb/assets/img - Copy/events/weddings/7.jpg
frigora-sb/assets/img - Copy/events/weddings/8.jpg
frigora-sb/assets/img - Copy/events/weddings/9.jpg
frigora-sb/assets/img - Copy/header-bg.jpg
frigora-sb/assets/img - Copy/header-bg2.jpg
frigora-sb/assets/img - Copy/header-bg3.jpg
frigora-sb/assets/img - Copy/header-bg4.jpg
frigora-sb/assets/img - Copy/header-bg5.jpg
frigora-sb/assets/img - Copy/header-logo.png
frigora-sb/assets/img - Copy/header-logo2.png
frigora-sb/assets/img - Copy/imgbak/arrangements-bg.jpg
frigora-sb/assets/img - Copy/imgbak/arrangements-bg2.jpg
frigora-sb/assets/img - Copy/imgbak/contacts-bg - home.jpg
frigora-sb/assets/img - Copy/imgbak/contacts-bg-2.jpg
frigora-sb/assets/img - Copy/imgbak/contacts-bg.jpg
frigora-sb/assets/img - Copy/imgbak/header-bg.jpg
frigora-sb/assets/img - Copy/imgbak/header-bg2.jpg
frigora-sb/assets/img - Copy/imgbak/header-bg3.jpg
frigora-sb/assets/img - Copy/imgbak/header-bg4.jpg
frigora-sb/assets/img - Copy/imgbak/header-bg5.jpg
frigora-sb/assets/img - Copy/imgbak/packages.jpg
frigora-sb/assets/img - Copy/imgbak/vocalists-bg.jpg
frigora-sb/assets/img - Copy/imgbak/vocalists-bg2.jpg
frigora-sb/assets/img - Copy/imgbak/vocalists-bg3.jpg
frigora-sb/assets/img - Copy/logo.png
frigora-sb/assets/img - Copy/logos/facebook.svg
frigora-sb/assets/img - Copy/logos/google.svg
frigora-sb/assets/img - Copy/logos/ibm.svg
frigora-sb/assets/img - Copy/logos/microsoft.svg
frigora-sb/assets/img - Copy/map-image.png
frigora-sb/assets/img - Copy/navbar-logo.svg
frigora-sb/assets/img - Copy/packages.jpg
frigora-sb/assets/img - Copy/packages/4-piece/Dance Monkey - Tones and I  Burn  Frigora Acoustic (4PC Semi Full Band).jpg
frigora-sb/assets/img - Copy/packages/4-piece/Dream A Little Dream of Me - Kina Granis, Ella Fitzgerald  DITA  FRIGORA (4 Piece).jpg
frigora-sb/assets/img - Copy/packages/4-piece/First Dance La Vie En Rose - Andrea Bocelli  Esteffi & Vince  Frigora Acoustic (4 piece).jpg
frigora-sb/assets/img - Copy/packages/4-piece/Pangako - Regine Velasquez  BURN  FRIGORA (4 PIECE ACOUSTIC).jpg
frigora-sb/assets/img - Copy/packages/5-piece/Ignition - R. Kelly  JM  FRIGORA (FULL BAND).jpg
frigora-sb/assets/img - Copy/packages/5-piece/Inspired Beginnings 2022 Natural Woman - Aretha Franklin  BURN  Frigora Acoustic (Jazz Ensemble).jpg
frigora-sb/assets/img - Copy/packages/5-piece/Love Story - Taylor Swift  DITA  FRIGORA (FULL BAND).jpg
frigora-sb/assets/img - Copy/packages/5-piece/Manila Sound Medley - JM & BURN  Frigora Acoustic (Full Band).jpg
frigora-sb/assets/img - Copy/packages/5-piece/Pangarap ko Ang Ibigin Ka - Regine Velasquez  ESTEFFI  FRIGORA (FULL BAND).jpg
frigora-sb/assets/img - Copy/packages/5-piece/September - Scary Pockets  BURN  FRIGORA (FULL BAND).jpg
frigora-sb/assets/img - Copy/packages/5-piece/Somewhere Only We Know - Keane  DITA  FRIGORA (ACOUSTIC FULL BAND).jpg
frigora-sb/assets/img - Copy/packages/6-piece/Best of My Love - The Emotions  Burn  Frigora Acoustic (Full Band).jpg
frigora-sb/assets/img - Copy/packages/6-piece/Mayonaka No Door (Stay With Me) - Miki Matsubara  BURN  FRIGORA (FULL BAND).jpg
frigora-sb/assets/img - Copy/packages/6-piece/Sweet Caroline - Neil Diamond  JM  FRIGORA (JAZZ ENSEMBLE).jpg
frigora-sb/assets/img - Copy/packages/6-piece/Together Again - Janet Jackson  Esteffi  Frigora Acoustic (Full Band).jpg
frigora-sb/assets/img - Copy/packages/6-piece/Two Less Lonely People In The World - KZ Tandingan  BURN  FRIGORA (FULL BAND).jpg
frigora-sb/assets/img - Copy/packages/7-piece/I Finally Found Someone - Bryan Adams  VINCE & BURN  FRIGORA (7PC Full Band).jpg
frigora-sb/assets/img - Copy/packages/7-piece/I Will Survive x Queen of the Night, ARIA  BURN  FRIGORA (FULL BAND).jpg
frigora-sb/assets/img - Copy/packages/7-piece/More Than A Woman - Bee Gees  VINCE  FRIGORA (FULL BAND).jpg
frigora-sb/assets/img - Copy/packages/8-piece/Best Part - Daniel Caesar & H.E.R  BURN & VINCE  FRIGORA (FULL BAND).jpg
frigora-sb/assets/img - Copy/packages/8-piece/Can't Take My Eyes Off You - Franki Valli  BURN & VINCE  FRIGORA (FULL BAND).jpg
frigora-sb/assets/img - Copy/packages/8-piece/Don't Go Yet - Camila Cabello  BURN  FRIGORA (FULL BAND).jpg
frigora-sb/assets/img - Copy/packages/8-piece/Mas Que Nada - Sitti  BURN  FRIGORA (FULL BAND).jpg
frigora-sb/assets/img - Copy/packages/8-piece/Waiting In Vain - Bob Marley  VINCE  FRIGORA (FULL BAND).jpg
frigora-sb/assets/img - Copy/packages/9-piece/Just The Two of Us - Bill Withers  VINCE  FRIGORA (FULL BAND).jpg
frigora-sb/assets/img - Copy/packages/9-piece/KLWKN - Music Hero  BURN & VINCE  FRIGORA (FULL BAND).jpg
frigora-sb/assets/img - Copy/packages/9-piece/Love on Top (6x higher) - Beyonce  BURN  FRIGORA (FULL BAND).jpg
frigora-sb/assets/img - Copy/packages/9-piece/Treasure - Bruno Mars  VINCE  FRIGORA (FULL BAND).jpg
frigora-sb/assets/img - Copy/packages/duo/Araw - Araw - Ben & Ben  Esteffi  Frigora Acoustic (Duo).jpg
frigora-sb/assets/img - Copy/packages/duo/Bawat Daan - Ebe Dancel  Burn   Frigora Acoustic (Duo).jpg
frigora-sb/assets/img - Copy/packages/duo/Through The Fire - Chaka Khan  DITA  FRIGORA (DUO).jpg
frigora-sb/assets/img - Copy/packages/full/best-of-my-love.jpg
frigora-sb/assets/img - Copy/packages/full/havana.jpg
frigora-sb/assets/img - Copy/packages/full/kahit-kailan.jpg
frigora-sb/assets/img - Copy/packages/full/manila-sound-melody.jpg
frigora-sb/assets/img - Copy/packages/full/through-the-fire.jpg
frigora-sb/assets/img - Copy/packages/jazz/Fly Me To The Moon - Frank Sinatra  Burn  Frigora Acoustic (Jazz Ensemble.jpg
frigora-sb/assets/img - Copy/packages/jazz/Girl From Ipanema - Sitti  ESTEFFI  FRIGORA (JAZZ ENSEMBLE).jpg
frigora-sb/assets/img - Copy/packages/jazz/Inseparable - Natalie Cole  Burn  Frigora Acoustic (Jazz Ensemble).jpg
frigora-sb/assets/img - Copy/packages/solo/Bridal March Ikaw At Ako - Johnoy Danao  JM  Frigora Acoustic (Solo).jpg
frigora-sb/assets/img - Copy/packages/solo/Para Sa Akin - Sitti  JM  FRIGORA (DUO).jpg
frigora-sb/assets/img - Copy/packages/trio/Dancing In The Moonlight x Fresh Eyes Mashup - ESTEFFI & JM  FRIGORA (TRIO).jpg
frigora-sb/assets/img - Copy/packages/trio/Mahika - Adie ft. Janine Berdine  JM & MAYA  FRIGORA (TRIO).jpg
frigora-sb/assets/img - Copy/packages/trio/Waters of March - Sitti, Sérgio Mendes  BURN  FRIGORA (TRIO).jpg
frigora-sb/assets/img - Copy/packages/trio/Weak - SWV  DITA & VINCE  FRIGORA (TRIO).jpg
frigora-sb/assets/img - Copy/portfolio/1.jpg
frigora-sb/assets/img - Copy/portfolio/2.jpg
frigora-sb/assets/img - Copy/portfolio/3.jpg
frigora-sb/assets/img - Copy/portfolio/4.jpg
frigora-sb/assets/img - Copy/portfolio/5.jpg
frigora-sb/assets/img - Copy/portfolio/6.jpg
frigora-sb/assets/img - Copy/team/ace.jpg
frigora-sb/assets/img - Copy/team/bm.jpg
frigora-sb/assets/img - Copy/team/burn.jpg
frigora-sb/assets/img - Copy/team/christel.jpg
frigora-sb/assets/img - Copy/team/dee ko key lala.jpg
frigora-sb/assets/img - Copy/team/dita.jpg
frigora-sb/assets/img - Copy/team/dom.jpg
frigora-sb/assets/img - Copy/team/don.jpg
frigora-sb/assets/img - Copy/team/esteffi.jpg
frigora-sb/assets/img - Copy/team/header.jpg
frigora-sb/assets/img - Copy/team/imgbak/ace.jpg
frigora-sb/assets/img - Copy/team/imgbak/bm.jpg
frigora-sb/assets/img - Copy/team/imgbak/burn.jpg
frigora-sb/assets/img - Copy/team/imgbak/christel.jpg
frigora-sb/assets/img - Copy/team/imgbak/dee ko key lala.jpg
frigora-sb/assets/img - Copy/team/imgbak/dita.jpg
frigora-sb/assets/img - Copy/team/imgbak/dom.jpg
frigora-sb/assets/img - Copy/team/imgbak/don.jpg
frigora-sb/assets/img - Copy/team/imgbak/esteffi.jpg
frigora-sb/assets/img - Copy/team/imgbak/header.jpg
frigora-sb/assets/img - Copy/team/imgbak/jerico.jpg
frigora-sb/assets/img - Copy/team/imgbak/jm.jpg
frigora-sb/assets/img - Copy/team/imgbak/julius.jpg
frigora-sb/assets/img - Copy/team/imgbak/kim.jpg
frigora-sb/assets/img - Copy/team/imgbak/maya.jpg
frigora-sb/assets/img - Copy/team/imgbak/migz.jpg
frigora-sb/assets/img - Copy/team/imgbak/nigel.jpg
frigora-sb/assets/img - Copy/team/imgbak/remuz.jpg
frigora-sb/assets/img - Copy/team/imgbak/sam.jpg
frigora-sb/assets/img - Copy/team/imgbak/selina.jpg
frigora-sb/assets/img - Copy/team/imgbak/vince.jpg
frigora-sb/assets/img - Copy/team/jerico.jpg
frigora-sb/assets/img - Copy/team/jm.jpg
frigora-sb/assets/img - Copy/team/julius.jpg
frigora-sb/assets/img - Copy/team/kim.jpg
frigora-sb/assets/img - Copy/team/maya.jpg
frigora-sb/assets/img - Copy/team/migz.jpg
frigora-sb/assets/img - Copy/team/nigel.jpg
frigora-sb/assets/img - Copy/team/remuz.jpg
frigora-sb/assets/img - Copy/team/sam.jpg
frigora-sb/assets/img - Copy/team/selina.jpg
frigora-sb/assets/img - Copy/team/vince.jpg
frigora-sb/assets/img - Copy/testimony/1 Megan Young.jpg
frigora-sb/assets/img - Copy/testimony/2 Mikael Daez.jpg
frigora-sb/assets/img - Copy/testimony/3 Shawn _ Trisha.jpg
frigora-sb/assets/img - Copy/testimony/4 Brian _ Gillian.jpg
frigora-sb/assets/img - Copy/testimony/5 Ryan _ Giezelle.jpg
frigora-sb/assets/img - Copy/testimony/6 Kenneth _ Des.jpg
frigora-sb/assets/img - Copy/testimony/7 Gold _ Gwynne.jpg
frigora-sb/assets/img - Copy/testimony/imgbak/1 Megan Young.jpg
frigora-sb/assets/img - Copy/testimony/imgbak/2 Mikael Daez.jpg
frigora-sb/assets/img - Copy/testimony/imgbak/3 Shawn _ Trisha.jpg
frigora-sb/assets/img - Copy/testimony/imgbak/4 Brian _ Gillian.jpg
frigora-sb/assets/img - Copy/testimony/imgbak/5 Ryan _ Giezelle.jpg
frigora-sb/assets/img - Copy/testimony/imgbak/6 Kenneth _ Des.jpg
frigora-sb/assets/img - Copy/testimony/imgbak/7 Gold _ Gwynne.jpg
frigora-sb/assets/img - Copy/vocalists-bg.jpg
frigora-sb/assets/img - Copy/vocalists-bg2.jpg
frigora-sb/assets/img - Copy/vocalists-bg3.jpg
frigora-sb/assets/img - Copy/vocalists/burn.jpg
frigora-sb/assets/img - Copy/vocalists/dita.jpg
frigora-sb/assets/img - Copy/vocalists/esteffi.jpg
frigora-sb/assets/img - Copy/vocalists/imgbak/burn.jpg
frigora-sb/assets/img - Copy/vocalists/imgbak/dita.jpg
frigora-sb/assets/img - Copy/vocalists/imgbak/esteffi.jpg
frigora-sb/assets/img - Copy/vocalists/imgbak/jm.jpg
frigora-sb/assets/img - Copy/vocalists/imgbak/maya.jpg
frigora-sb/assets/img - Copy/vocalists/imgbak/nigel.jpg
frigora-sb/assets/img - Copy/vocalists/imgbak/remuz.jpg
frigora-sb/assets/img - Copy/vocalists/imgbak/sam.jpg
frigora-sb/assets/img - Copy/vocalists/imgbak/vince.jpg
frigora-sb/assets/img - Copy/vocalists/jm.jpg
frigora-sb/assets/img - Copy/vocalists/maya.jpg
frigora-sb/assets/img - Copy/vocalists/nigel.jpg
frigora-sb/assets/img - Copy/vocalists/remuz.jpg
frigora-sb/assets/img - Copy/vocalists/sam.jpg
frigora-sb/assets/img - Copy/vocalists/vince.jpg
frigora-sb/assets/img/events/weddings/1.jpg
frigora-sb/pages/team/index copy.html
